<h3 mat-dialog-title>{{'Edit transaction'}}</h3>
<div mat-dialog-content class="d-flex flex-column">
  <mat-form-field>
    <mat-label>{{'Status'}}</mat-label>
    <mat-select [(ngModel)]="transaction.status">
      <mat-option [value]="null">{{'None'}}</mat-option>
      <mat-option *ngFor="let status of transactionStatus | enumToArray"
                  [value]="transactionStatus[status]">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'Type'}}</mat-label>
    <mat-select [(ngModel)]="transaction.type">
      <mat-option [value]="null">{{'None'}}</mat-option>
      <mat-option *ngFor="let type of transactionTypes | enumToArray"
                  [value]="transactionTypes[type]">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'Client name'}}</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="transaction.clientName"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'Amount'}}</mat-label>
    <input
      matInput
      type="number"
      min="0"
      step="0.1"
      [(ngModel)]="transaction.amount"
    >
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-around">
  <button
    mat-raised-button
    (click)="close()"
  >
    {{'Cancel'}}
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSaveTransaction()"
  >
    {{'Save'}}
  </button>
</div>
