<div class="transactions-component">
  <div class="inputs">
    <div class="selects">
      <select (change)="setSortByStatusTransaction($event)">
        <option selected>Status</option>
        <option *ngFor="let status of transactionStatus | enumToArray"
          value="{{transactionStatus[status]}}">
          {{status}}
        </option>
      </select>

      <select (change)="setSortByTypeTransaction($event)">
        <option selected>Type</option>
        <option *ngFor="let type of transactionTypes | enumToArray"
          value="{{transactionTypes[type]}}">
          {{type}}
        </option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="importCSV()">Import</button>
      <button (click)="exportToCSV()">Export</button>
      <button (click)="showModalCreateTransaction()">Create transaction</button>
    </div>
  </div>
  <div class="table-transactions">
    <app-table-transactions
      [transactions]="paginator.data"
      (edit)="showModalEditTransaction($event)"
      (delete)="deleteTransactionById($event)"
    ></app-table-transactions>
    <pagination [(totalItems)]="paginator.totalCount" [ngModel]="paginator.pageNumber+1"
      (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>
