<div class="create-form">
  <div class="selects">
    <select (change)="setStatusTransaction($event)">
      <option selected disabled>Status</option>
      <option *ngFor="let status of transactionStatus | enumToArray"
        value="{{transactionStatus[status]}}">
        {{status}}
      </option>
    </select>

    <select (change)="setTypeTransaction($event)">
      <option selected disabled>Type</option>
      <option *ngFor="let type of transactionTypes | enumToArray"
        value="{{transactionTypes[type]}}">
        {{type}}
      </option>
    </select>
  </div>
  <div class="inputs">
    <input type="text" name="ClientName" [(ngModel)]="transaction.clientName"
      placeholder="Client name">
    <input type="number" min="0" step="0.1" name="Amount" [(ngModel)]="transaction.amount"
      placeholder="Amount">
  </div>
  <div class="buttons">
    <input type="button" value="Create" (click)="createTransaction()">
    <input type="button" value="Close" (click)="bsModalRef.hide()">
  </div>
</div>

